<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Attack Power</p>
        <p class="is-size-7-mobile">Melee Crit</p>
        <p class="is-size-7-mobile">Melee Hit</p>
        <p class="is-size-7-mobile">Armor</p>
        <p class="is-size-7-mobile">Damage Reduction from Armor</p>
        <p class="is-size-7-mobile">Chance to be Critically Hit</p>
        <p class="is-size-7-mobile">Dodge</p>
        <p class="is-size-7-mobile">Effective Dodge (including mob's chance to miss)</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">
          {{ data.character.attackPower(data.target.options.type).toFixed(0) }}
        </p>
        <p class="is-size-7-mobile has-text-right">{{ meleeCrit }}</p>
        <p class="is-size-7-mobile has-text-right">{{ meleeHit }}</p>
        <p class="is-size-7-mobile has-text-right">{{ data.character.armor.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ damageReductionFromArmor }}</p>
        <p class="is-size-7-mobile has-text-right">{{ chanceForPlayerToBeCriticallyHit }}</p>
        <p class="is-size-7-mobile has-text-right">{{ dodge }}</p>
        <p class="is-size-7-mobile has-text-right">{{ playerEffectiveDodge }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    data: Object
  }
})

@Component
export default class AttributesGeneral extends Props {
  wow = wow
  get meleeHit() {
    return `${wow.Tools.PercentString(this.data.character.meleeHit, 0)}`
  }

  get meleeCrit() {
    return `${wow.Tools.PercentString(this.data.character.meleeCrit, 2)}`
  }
  get chanceForPlayerToBeCriticallyHit() {
    return `${wow.Tools.PercentString(this.data.enemyAttackTable.criticalHit, 2)}`
  }

  get damageReductionFromArmor() {
    return `${wow.Tools.PercentString(this.data.damageReductionFromArmor, 2)}`
  }

  get playerEffectiveDodge() {
    return `${wow.Tools.PercentString(this.data.enemyAttackTable.miss + this.data.enemyAttackTable.dodge, 2)}`
  }

  get dodge() {
    return `${wow.Tools.PercentString(this.data.enemyAttackTable.dodge, 2)}`
  }
}
</script>
