<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Average Auto Attack Damage</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ data.simulation.averageBearAutoAttackDamage.toFixed(0) }}</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile">Miss</p>
        <p class="is-size-7-mobile">Dodge</p>
        <p class="is-size-7-mobile">Parry</p>
        <p class="is-size-7-mobile">Glancing Blow</p>
        <p class="is-size-7-mobile">Critical Hit</p>
        <p class="is-size-7-mobile">Ordinary Hit</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.miss * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.dodge * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.parry * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.glancingBlow * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.criticalHit * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerNormalAttackTable.ordinaryHit * 100).toFixed(2) }}%
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    data: Object
  }
})

@Component
export default class AutoAttackGeneral extends Props {
  wow = wow
}
</script>
