<template>
  <footer class="footer has-background-black-ter">
    <div class="content has-text-centered has-text-white">
      <font-awesome-icon :icon="['fab', 'discord']" />Zidnae#0337
      <br />
      <font-awesome-icon :icon="['fab', 'gitlab']" />&nbsp;
      <a class="link" href="https://gitlab.com/zidnae/classic-bear-calc">Source</a>&nbsp;
      <br />
      <p>
        Based on NerdEgghead's
        <a class="link" href="https://docs.google.com/spreadsheets/d/1_HqtrMt4KFSoZNnYpNDMJsj9Odey5Ti7Pse23DSUItA/edit"
          >Bear Tank Weights Calculator Spreadsheet</a
        >
        and Beef Broccoli's
        <a class="link" href="https://kmmiles.gitlab.io/moonkin-calc/">Moonkin Calc</a>

        <br />
        <span class="is-size-7">Version: {{ version }}</span
        >&nbsp;
        <b-checkbox class="is-size-7" v-model="options.debug"> <font-awesome-icon :icon="['fas', 'bug']" /> </b-checkbox
        >&nbsp;
        <b-checkbox class="is-size-7" v-model="options.experimental">
          <font-awesome-icon :icon="['fas', 'flask']" /> </b-checkbox
        >&nbsp;
      </p>
    </div>
  </footer>
</template>

<style scoped>
.link {
  text-decoration: underline;
}
.footer {
  border-left: none;
  border-right: none;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    options: Object
  }
})

@Component
export default class Footer extends Props {
  wow = wow

  get version() {
    return process.env.VUE_APP_VERSION ? process.env.VUE_APP_VERSION : 'debug'
  }
}
</script>
