<template>
  <div>
    <div class="gear">
      <div class="gear-left">
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Head" :itemData="equipment.head" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Neck" :itemData="equipment.neck" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Shoulder" :itemData="equipment.shoulder" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Back" :itemData="equipment.back" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Chest" :itemData="equipment.chest" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Wrist" :itemData="equipment.wrist" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Mainhand" :itemData="equipment.mainhand" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Offhand" :itemData="equipment.offhand" />
      </div>
      <div class="gear-center"></div>
      <div class="gear-right">
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Hands" :itemData="equipment.hands" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Waist" :itemData="equipment.waist" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Legs" :itemData="equipment.legs" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Feet" :itemData="equipment.feet" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Finger" :itemData="equipment.finger" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Finger2" :itemData="equipment.finger2" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Trinket" :itemData="equipment.trinket" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Trinket2" :itemData="equipment.trinket2" />
        <GearItem :options="options" :itemSlot="wow.ItemSlot.Relic" :itemData="equipment.idol" />
      </div>
    </div>

    <GearButtonBar
      :options="{ showExport: true, showShare: true, showReset: true, showUnequip: true }"
      @share-gear="shareGear"
      @reset-gear="unlockGear"
      @lock-gear="lockGear"
      @unequip-gear="unequipGear"
      @export-gear="exportGear"
    />
    <div class="publicLinkModal">
      <b-modal :active.sync="showPublicLinkModal" scroll="keep">
        <p>Copy the link below to share this gear set</p>
        <div class="content">
          <b-field>
            <input class="input is-size-7-mobile" size="50" v-model="publicLink" />
          </b-field>
        </div>
      </b-modal>
    </div>
    <GearItemSelect
      :options="options"
      :itemSearch="equipment.itemSearch"
      :tpsWeights="tpsWeights"
      :ehpWeights="ehpWeights"
    />
    <GearEnchantSelect
      :options="options"
      :itemSearch="equipment.itemSearch"
      :tpsWeights="tpsWeights"
      :ehpWeights="ehpWeights"
    />
  </div>
</template>

<style scoped>
.gear {
  position: relative;
  display: flex;
  padding: 1.25rem;
}

.gear-left {
  max-width: calc(50% - 0.625rem);
  overflow: hidden;
}

.gear-right {
  max-width: calc(50% - 0.625rem);
  overflow: hidden;
}

.gear-center {
  flex-grow: 1;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import GearItem from './GearItem.vue'
import GearItemSelect from './GearItemSelect.vue'
import GearEnchantSelect from './GearEnchantSelect.vue'
import GearButtonBar from './GearButtonBar.vue'
import ItemSlot from '../wow/enum/ItemSlot'
import Weights from '../wow/interface/Weights'

const GearProps = Vue.extend({
  props: {
    options: Object,
    equipment: Object,
    tpsWeights: Object,
    ehpWeights: Object
  }
})

@Component({
  components: { GearButtonBar, GearItem, GearItemSelect, GearEnchantSelect }
})
export default class Gear extends GearProps {
  wow = wow
  showPublicLinkModal = false
  showExportModal = false
  paginated = true

  shareGear() {
    this.showPublicLinkModal = true
  }

  exportGear() {
    this.showExportModal = true
  }

  lockGear() {
    wow.Locked.LockItems(this.options.character.lockedItems, this.equipment)
    wow.Locked.LockEnchants(this.options.character.lockedEnchants, this.equipment)
  }

  unlockGear() {
    wow.Locked.UnlockItems(this.options.character.lockedItems)
    wow.Locked.UnlockEnchants(this.options.character.lockedEnchants)
  }

  unequipGear() {
    wow.Locked.UnequipItems(this.options.character.lockedItems)
    wow.Locked.UnequipEnchants(this.options.character.lockedEnchants)
  }

  get publicLink() {
    return wow.Tools.publicUrl(this.equipment)
  }
}
</script>
