<template>
  <div>
    <div class="gearSelect">
      <b-modal :active.sync="showItems" scroll="keep">
        <div class="innerGearSelect">
          <b-table
            @select="selectItem"
            :data="item_data"
            :columns="item_columns"
            :paginated="paginated"
            :pagination-simple="true"
            per-page="10"
            sort-icon="arrow-up"
            sort-icon-size="is-small"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            default-sort-direction="desc"
            default-sort="['score', 'desc']"
            hoverable
          >
            <template slot="footer">
              <GearButtonBar :options="buttonBarOptions()" @reset-gear="unlockItem" @unequip-gear="unequipItem" />
              <!--
              <div class="columns is-mobile">
                <div v-if="itemLocked()" class="column is-1">
                  <GearResetButton @click.native="unlockItem" />
                </div>
                <div v-if="itemEquipped()" class="column is-1">
                  <GearUnequipButton @click.native="unequipItem" />
                </div>
                <div class="column"></div>
              </div>
              -->
            </template>
          </b-table>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<style scoped>
.innerGearSelect {
  font-size: 12px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import GearButtonBar from './GearButtonBar.vue'
import ItemSlot from '../wow/enum/ItemSlot'
import Equipment from '@/wow/class/Equipment'

const GearItemSelectProps = Vue.extend({
  props: {
    options: Object,
    itemSearch: Object,
    tpsWeights: Object,
    ehpWeights: Object
  }
})

@Component({
  components: { GearButtonBar }
})
export default class GearItemSelect extends GearItemSelectProps {
  wow = wow
  paginated = true

  buttonBarOptions() {
    return {
      showShare: false,
      showReset: this.itemLocked(),
      showUnequip: this.itemEquipped()
    }
  }

  itemEquipped() {
    return wow.Locked.ItemEquipped(this.options.character.lockedItems, this.options.itemSearchSlot)
  }

  itemLocked() {
    return wow.Locked.ItemLocked(this.options.character.lockedItems, this.options.itemSearchSlot)
  }

  unlockItem() {
    wow.Locked.UnlockItem(this.options.character.lockedItems, this.options.itemSearchSlot)
    this.options.itemSearchSlot = ItemSlot.None
  }

  unequipItem() {
    wow.Locked.UnequipItem(this.options.character.lockedItems, this.options.itemSearchSlot)
    this.options.itemSearchSlot = ItemSlot.None
  }

  selectItem(obj1: any, obj2: any) {
    wow.Locked.SetItem(this.options.character.lockedItems, this.options.itemSearchSlot, obj1.customId)
    this.options.itemSearchSlot = ItemSlot.None
  }

  get showItems() {
    if (this.options.itemSearchSlot !== ItemSlot.None) {
      return true
    }
    return false
  }

  set showItems(slot) {
    this.options.itemSearchSlot = ItemSlot.None
  }

  get item_data() {
    return Equipment.optimalItemsForSlot(this.options, this.itemSearch, this.tpsWeights, this.ehpWeights)
  }

  get item_columns() {
    return [
      {
        field: 'name',
        label: '',
        width: '300',
        numeric: false,
        sortable: true,
        searchable: true
      },
      {
        field: 'armor',
        label: 'Armor',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },

      {
        field: 'strength',
        label: 'Strength',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'agility',
        label: 'Agility',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'stamina',
        label: 'Stamina',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },

      {
        field: 'meleeHit',
        label: 'Hit %',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'meleeCrit',
        label: 'Crit %',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'attackPower',
        label: 'AP',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'dodge',
        label: 'Dodge %',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'defense',
        label: 'Defense',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'threatScore',
        label: 'Threat Score',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'mitScore',
        label: 'Mitigation Score',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'score',
        label: 'Score',
        width: '10',
        numeric: true,
        sortable: true,
        searchable: false
      }
    ]
  }
}
</script>
