<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label-position="on-border">
          <template slot="label">
            <b-tooltip
              type="is-dark"
              label="How much Stamina you would be willing to trade for one additional Attack Power"
              multilined
            >
              Desired Stamina : AP Ratio
            </b-tooltip>
          </template>
          <b-numberinput
            min="0.001"
            v-model.number="options.desiredStaminaAPRatio"
            type="is-dark"
            step=".1"
            min-step="0.001"
          ></b-numberinput>
        </b-field>
        <b-field label-position="on-border">
          <template slot="label">
            <b-tooltip type="is-dark" label="How much you value avoidance as a defensive stat" multilined>
              EHP Dodge Weight
            </b-tooltip>
          </template>

          <b-numberinput
            min="0"
            max="1"
            v-model.number="options.ehpDodgeWeight"
            type="is-dark"
            step="0.1"
            min-step="0.001"
          ></b-numberinput>
        </b-field>
        <b-field label="Encounter Length (secs)" label-position="on-border">
          <b-numberinput
            min="10"
            max="1000"
            v-model.number="options.encounterLength"
            type="is-dark"
            step="10"
            min-step="1"
          ></b-numberinput>
        </b-field>
        <b-field label="Unmitigated Damage Taken Per Second" label-position="on-border">
          <b-numberinput
            min="0"
            max="10000"
            v-model.number="options.unmitagatedDamageTakenPerSecond"
            type="is-dark"
            step="100"
            min-step="1"
          ></b-numberinput>
        </b-field>
      </div>
      <div class="column">
        <b-field label="Phase" label-position="on-border">
          <b-select
            class="is-size-7-mobile"
            expanded
            v-model="options.phase"
            @input="$emit('change-phase', options.phase)"
          >
            <option v-for="phase in phaseList" :key="phase" v-bind:value="phase">{{ phase }}</option>
          </b-select>
        </b-field>
        <b-field label="Race" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model.number="options.character.race">
            <option value="6">Tauren</option>
            <option value="4">Night-elf</option>
          </b-select>
        </b-field>
        <b-field label="PvP Rank" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model="options.character.pvpRank">
            <option v-for="rank in pvpRankList" :key="rank" v-bind:value="rank">{{ rank }}</option>
          </b-select>
        </b-field>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="options.raids">Include Raids</b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="options.onUseItems">Optimize for On Use items</b-checkbox>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="options.worldBosses">Include World Bosses</b-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    options: Object
  }
})

@Component
export default class General extends Props {
  wow = wow

  get phaseList() {
    return [1, 2, 3, 4, 5, 6]
  }

  get pvpRankList() {
    return [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
  }
  get sliderType() {
    if (this.options.encounterLength < 120) {
      return 'is-success'
    } else if (this.options.encounterLength >= 120 && this.options.encounterLength < 300) {
      return 'is-warning'
    }
    return 'is-danger'
  }
}
</script>
