<template>
  <section class="section has-background-black-ter is-paddingless">
    <nav class="level">
      <div class="level-item has-text-centered">
        <b-button type="is-light" @click="saveHeaderStats">Save Results</b-button>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <b-tooltip label="Damage per Second" position="is-bottom" type="is-dark" multilined>
            <p class="heading">DPS</p>
            <p class="title">{{ dps }}</p>
          </b-tooltip>
          <p class="is-size-7-mobile" :style="{ color: getDiffColor(savedDPSDiff) }">{{ savedDPSDiff }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <b-tooltip label="Threat per Second" position="is-bottom" type="is-dark" multilined>
            <p class="heading">TPS</p>
            <p class="title">{{ tps }}</p>
          </b-tooltip>
          <p class="is-size-7-mobile" :style="{ color: getDiffColor(savedTPSDiff) }">{{ savedTPSDiff }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <b-tooltip :label="EHP_HOVER_TEXT" position="is-bottom" type="is-dark" multilined>
            <p class="heading">EHP</p>
            <p class="title">{{ ehp }}</p>
          </b-tooltip>
          <p class="is-size-7-mobile" :style="{ color: getDiffColor(savedEHPDiff) }">{{ savedEHPDiff }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <b-tooltip
            label="Overall score is an aggregate measure of your gear's tankiness and ability to generate threat. It is computed by converting all stats on your gear to their AP equivelent using the currently computed stat weights and then summing"
            position="is-bottom"
            type="is-dark"
            multilined
          >
            <p class="heading">Overall Score</p>
            <p class="title">{{ overallAPEquivalent }}</p>
          </b-tooltip>
          <p class="is-size-7-mobile" :style="{ color: getDiffColor(savedOverallScoreDiff) }">
            {{ savedOverallScoreDiff }}
          </p>
        </div>
      </div>
    </nav>
    <b-collapse class="card" :open="false" animation="slide" aria-id="contentIdForA11y3">
      <div
        slot="trigger"
        slot-scope="sprops"
        class="card-header"
        role="button"
        aria-controls="contentIdForA11y3"
        :open="false"
      >
        <p class="card-header-title">Stat Weights</p>
        <a class="card-header-icon">
          <b-icon :icon="sprops.open ? 'menu-down' : 'menu-up'"> </b-icon>
        </a>
      </div>
      <div class="statWeights">
        <b-table
          :data="enchant_data"
          :columns="enchant_columns"
          :small="true"
          size="xl"
          :resonsive="false"
          :pagination-simple="true"
          aria-next-label="Next page"
          aria-previous-label="Previous page"
          aria-page-label="Page"
          aria-current-label="Current page"
          hoverable
        ></b-table>
      </div>
    </b-collapse>
  </section>
</template>

<style scoped>
.level-item {
  color: white;
}
.title {
  color: white;
}
.statWeights {
  font-size: 12px;
}
.stat-heading {
  background-color: grey;
}
.no-borders {
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import Simulation from '../wow/class/Simulation'

const Props = Vue.extend({
  props: {
    cast: Simulation
  }
})

function roundData(o: any) {
  let roundedWeights: { [key: string]: string } = {}
  for (const [key, value] of Object.entries(o)) {
    if (value) {
      roundedWeights[key] = wow.Tools.RoundedString(value as number, 2)
    } else {
      roundedWeights[key] = wow.Tools.RoundedString(0, 2)
    }
  }
  return roundedWeights
}

const DIFF_NUMBER_OF_SIG_FIGURES = 2

@Component
export default class Header extends Props {
  wow = wow
  savedDPS: number | null = null
  savedTPS: number | null = null
  savedEHP: number | null = null
  savedThreatScore: number | null = null
  savedEHPScore: number | null = null
  savedOverallScore: number | null = null
  scoresSaved: null | boolean = null

  EHP_HOVER_TEXT = `EHP stands for "Effective Health Points". EHP is an aggregate stat representing your overall tankiness and is derived from your hp, armor, dodge, and +defense stats`

  getDiffColor(num: string) {
    if (num === '+0.' + '0'.repeat(DIFF_NUMBER_OF_SIG_FIGURES)) {
      return 'white'
    } else if (num.startsWith('+')) {
      return 'green'
    } else {
      return 'red'
    }
  }

  get dps() {
    return `${wow.Tools.RoundedString(this.cast.sheetDPS, 2)}`
  }

  get tps() {
    return `${wow.Tools.RoundedString(this.cast.sheetTPS, 2)}`
  }

  get ehp() {
    return `${wow.Tools.RoundedString(this.cast.ehp(this.cast.options.ehpDodgeWeight), 2)}`
  }

  get ehpAPEquivalent() {
    return `${wow.Tools.RoundedString(this.cast.ehpAPEquivalent(), 0)}`
  }
  get tpsAPEquivalent() {
    return `${wow.Tools.RoundedString(this.cast.tpsAPEquivalent(), 0)}`
  }

  get overallAPEquivalent() {
    return `${wow.Tools.RoundedString(this.cast.overallScore(), 0)}`
  }
  saveHeaderStats() {
    this.scoresSaved = true
    this.savedDPS = this.cast.sheetDPS
    this.savedTPS = this.cast.sheetTPS
    this.savedEHP = this.cast.ehp(this.cast.options.ehpDodgeWeight)
    this.savedThreatScore = this.cast.tpsAPEquivalent()
    this.savedEHPScore = this.cast.ehpAPEquivalent()
    this.savedOverallScore = this.cast.overallScore()
  }

  scoreDiffString(current: number, saved: number | null) {
    if (this.scoresSaved === null) {
      return ''
    }
    const diff = saved !== null ? current - saved : 0
    const sign = diff >= 0 ? '+' : ''
    return `${sign}${wow.Tools.RoundedString(diff, DIFF_NUMBER_OF_SIG_FIGURES)}`
  }

  get savedDPSDiff() {
    return this.scoreDiffString(this.cast.sheetDPS, this.savedDPS)
  }

  get savedTPSDiff() {
    return this.scoreDiffString(this.cast.sheetTPS, this.savedTPS)
  }

  get savedEHPDiff() {
    return this.scoreDiffString(this.cast.ehp(this.cast.options.ehpDodgeWeight), this.savedEHP)
  }

  get savedThreatScoreDiff() {
    return this.scoreDiffString(this.cast.tpsAPEquivalent(), this.savedThreatScore)
  }

  get savedEHPScoreDiff() {
    return this.scoreDiffString(this.cast.ehpAPEquivalent(), this.savedEHPScore)
  }

  get savedOverallScoreDiff() {
    return this.scoreDiffString(this.cast.overallScore(), this.savedOverallScore)
  }

  get enchant_data() {
    let roundedEHPStatWeights = roundData(this.cast.dodgeWeightedEHPStatWeights())
    return [
      { ...roundedEHPStatWeights, weightCategory: 'EHP Weights' },
      // { ...roundData(this.data.dpsStatWeights()), weightCategory: 'DPS Weights' },
      { ...roundData(this.cast.tpsStatWeights()), weightCategory: 'TPS Weights' },
      { ...roundData(this.cast.overallStatWeights()), weightCategory: 'Overall Weights' }
    ]
  }

  get enchant_columns() {
    let data = [
      {
        field: 'weightCategory',
        label: '',
        numeric: false,
        sortable: false,
        searchable: false
      }
    ]
    for (const key in {
      ...this.cast.dodgeWeightedEHPStatWeights(),
      ...this.cast.dpsStatWeights(),
      ...this.cast.tpsStatWeights()
    }) {
      if (key.includes('bonus') || key === 'feralAttackPower') {
        continue
      }
      data.push({
        field: key,
        label: wow.Tools.capitalize(key),
        numeric: true,
        sortable: false,
        searchable: false
      })
    }
    return data
  }
}
</script>
