<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Average Maul Damage</p>
        <p class="is-size-7-mobile">Maul Rage Cost</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ data.simulation.averageMaulDamage.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ data.simulation.character.maulRageCost }}</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile">Miss</p>
        <p class="is-size-7-mobile">Dodge</p>
        <p class="is-size-7-mobile">Parry</p>
        <p class="is-size-7-mobile">Critical Hit</p>
        <p class="is-size-7-mobile">Ordinary Hit</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerSpecialAttackTable.miss * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerSpecialAttackTable.dodge * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerSpecialAttackTable.parry * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerSpecialAttackTable.criticalHit * 100).toFixed(2) }}%
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ (data.simulation.playerSpecialAttackTable.ordinaryHit * 100).toFixed(2) }}%
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    data: Object
  }
})

@Component
export default class MaulGeneral extends Props {
  wow = wow
}
</script>
