<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <table class="borderless">
          <tr>
            <td class="borderless">Average Single Target Swipe Damage</td>
            <td class="borderless">{{ data.simulation.averageSwipeDamage.toFixed(0) }}</td>
          </tr>

          <tr>
            <td class="borderless" v-if="data.simulation.target.options.numTargets > 1">
              Average Multi-target Swipe Damage
            </td>
            <td class="borderless" v-if="data.simulation.target.options.numTargets > 1">
              {{ (data.simulation.averageSwipeDamage * data.simulation.target.options.numTargets).toFixed(0) }}
            </td>
          </tr>

          <tr>
            <td class="borderless">Swipe Rage Cost</td>
            <td class="borderless">{{ data.simulation.character.swipeRageCost }}</td>
          </tr>
        </table>
      </div>

      <div class="column">
        <table>
          <tr>
            <td class="borderless">Miss</td>
            <td class="borderless">{{ (data.simulation.playerSpecialAttackTable.miss * 100).toFixed(2) }}%</td>
          </tr>
          <tr>
            <td class="borderless">Dodge</td>
            <td class="borderless">{{ (data.simulation.playerSpecialAttackTable.dodge * 100).toFixed(2) }}%</td>
          </tr>
          <tr>
            <td class="borderless">Parry</td>
            <td class="borderless">{{ (data.simulation.playerSpecialAttackTable.parry * 100).toFixed(2) }}%</td>
          </tr>
          <tr>
            <td class="borderless">Critical Hit</td>
            <td class="borderless">{{ (data.simulation.playerSpecialAttackTable.criticalHit * 100).toFixed(2) }}%</td>
          </tr>
          <tr>
            <td class="borderless">Ordinary Hit</td>
            <td class="borderless">{{ (data.simulation.playerSpecialAttackTable.ordinaryHit * 100).toFixed(2) }}%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped>
.borderless {
  border: 0;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

const Props = Vue.extend({
  props: {
    data: Object
  }
})

@Component
export default class SwipeGeneral extends Props {
  wow = wow
}
</script>
