<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Thick Hide" label-position="on-border">
          <b-numberinput
            min="0"
            max="5"
            v-model.number="options.character.talents.thickHideRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Ferocity" label-position="on-border">
          <b-numberinput
            min="0"
            max="5"
            v-model.number="options.character.talents.ferocityRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Sharpened Claws" label-position="on-border">
          <b-numberinput
            min="0"
            max="3"
            v-model.number="options.character.talents.sharpenedClawsRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Savage Fury" label-position="on-border">
          <b-numberinput
            min="0"
            max="2"
            v-model.number="options.character.talents.savageFuryRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Heart of the Wild" label-position="on-border">
          <b-numberinput
            min="0"
            max="5"
            v-model.number="options.character.talents.heartOfTheWildRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
      </div>
      <div class="column">
        <b-field label="Primal Fury" label-position="on-border">
          <b-numberinput
            min="0"
            max="2"
            v-model.number="options.character.talents.primalFuryRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Feral Instinct" label-position="on-border">
          <b-numberinput
            min="0"
            max="5"
            v-model.number="options.character.talents.feralInstinctRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Predatory Strikes" label-position="on-border">
          <b-numberinput
            min="0"
            max="3"
            v-model.number="options.character.talents.predatoryStrikesRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>

        <b-field label="Natural Weapons" label-position="on-border">
          <b-numberinput
            min="0"
            max="5"
            v-model.number="options.character.talents.naturalWeaponsRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
        <b-field label="Leader of the Pack" label-position="on-border">
          <b-numberinput
            min="0"
            max="1"
            v-model.number="options.character.talents.leaderOfThePackRank"
            type="is-dark"
            step="1"
          >
          </b-numberinput>
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    options: Object
  }
})

@Component
export default class Talents extends Props {}
</script>
