<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Level" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model.number="options.target.level">
            <option value="63">63</option>
            <option value="62">62</option>
            <option value="61">61</option>
            <option value="60">60</option>
            <option value="59">59</option>
            <option value="58">58</option>
            <option value="57">57</option>
          </b-select>
        </b-field>
        <b-field label="Type" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model.number="options.target.type">
            <option value="1">Beast</option>
            <option value="2">Demon</option>
            <option value="4">Dragonkin</option>
            <option value="8">Elemental</option>
            <option value="16">Giant</option>
            <option value="32">Humanoid</option>
            <option value="64">Mechanical</option>
            <option value="128">Undead</option>
          </b-select>
        </b-field>

        <b-field label-position="on-border">
          <template slot="label">
            <b-tooltip type="is-dark" label="How many targets swipe hits" multilined> Number of Targets </b-tooltip>
          </template>

          <b-select class="is-size-7-mobile" expanded v-model.number="options.target.numTargets">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </b-select>
        </b-field>

        <b-field label="Base Armor" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model.number="options.target.baseArmor">
            <option value="3731">3731</option>
            <option value="3009">3009</option>
            <option value="4662">4662</option>
          </b-select>
        </b-field>

        <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
          <a slot="trigger" slot-scope="props" aria-controls="contentIdForA11y1">
            <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'"></b-icon>
            {{ !props.open ? 'Boss Armor Values' : 'Boss Armor Values' }}
          </a>
          <p>All bosses in WoW Classic have 3731 armor unless otherwise stated below. <br /></p>
          <table>
            <tr>
              <th>Boss</th>
              <th>Armor</th>
            </tr>
            <tr>
              <td>Lucifron</td>
              <td>3009</td>
            </tr>
            <tr>
              <td>Gehennas</td>
              <td>3009</td>
            </tr>
            <tr>
              <td>Shazzrah</td>
              <td>3009</td>
            </tr>
            <tr>
              <td>Skeram</td>
              <td>3009</td>
            </tr>
            <tr>
              <td>Kel'Thuzad</td>
              <td>3009</td>
            </tr>
            <tr>
              <td>Sulfuron</td>
              <td>4662</td>
            </tr>
          </table>
        </b-collapse>
      </div>
      <div class="column">
        <p>Armor Debuffs</p>
        <div class="field" @mouseenter="mouseEnter('SunderArmor')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="SunderArmor"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Sunder Armor</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('ExposeArmor')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ExposeArmor"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Improved Expose Armor</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('FaerieFire')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="FaerieFire"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Faerie Fire</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('CurseOfRecklessness')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="CurseOfRecklessness"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Curse of Recklessness</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('Annihilator')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="Annihilator"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Annihilator</b-checkbox
          >
        </div>

        <div class="field" @mouseenter="mouseEnter('HolySunder')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="HolySunder"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Holy Sunder</b-checkbox
          >
        </div>

        <p>Other Debuffs</p>
        <div class="field" @mouseenter="mouseEnter('InsectSwarm')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="InsectSwarm"
            v-bind:value="options.target.debuffs"
            v-on:input="options.target.debuffs = enableBuff($event, options.target.debuffs)"
            >Insect Swarm</b-checkbox
          >
        </div>
      </div>
    </div>
    <BuffTooltip
      v-if="mousedOverBuff"
      :class="{ hidden: !showToolTip }"
      :style="toolTipStyle"
      :buffJson="mousedOverBuff"
    />
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import { enableBuff, getBuffJSONByName, BuffJSON } from '../wow/class/Buffs'
import BuffTooltip from './BuffTooltip.vue'

const Props = Vue.extend({
  props: {
    options: Object
  }
})

@Component({
  components: { BuffTooltip }
})
export default class Target extends Props {
  wow = wow
  enableBuff = enableBuff
  getBuffJSONByName = getBuffJSONByName
  mousedOverBuff: BuffJSON | null = null

  showToolTip = false
  toolTipStyle = {
    zIndex: 999,
    position: 'fixed',
    top: '0px',
    left: '0px'
  }

  mouseEnter(mousedOverBuff: string): void {
    this.showToolTip = true
    this.mousedOverBuff = getBuffJSONByName(mousedOverBuff)
  }

  mouseMove(event: any): void {
    this.toolTipStyle.left = event.clientX + 40 + 'px'
    this.toolTipStyle.top = event.clientY - 30 + 'px'
  }

  mouseLeave(event: any): void {
    this.showToolTip = false
  }
}
</script>
